---
layout: default
title: Videos Archive
generator: pagination
pagination:
  provider: data.videos
  max_per_page: 800
use:
    - videos

---
{% set year = '0' %}
<h2>Videos Archive</h2>
<ol>
{% for video in page.pagination.items %}
  <li><div>
    <a href="{{ site.url }}{{ video.url }}">{{ video.title }}</a>
    {{ video.url }}
  </div>
  {% if video.youtube_id is defined %}
    {{ video.youtube_id }}
  {% else %}
    <p>Video broken</p>
  {% endif %}
  {% if video.categories %}
	<p class="categories">
	Categories:
	{% for category in video.categories %}
	<a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
	{% endfor %}
	</p>
  {% endif %}
  {% if video.tags %}
	<p class="tags">
	Tags:
	{% for tag in video.tags %}
	<a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
	{% endfor %}
	</p>
  {% endif %}
  </li>
{% endfor %}
</ol>
<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
